body {
    font-family: sans-serif;
}

nav {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: IndianRed;
    font-family: cursive;
    border: 3px solid DarkRed;
    border-radius: 3px;
    padding: 2px;
    background-color: FireBrick;
}

.fw {
    text-decoration: none;
    color: IndianRed;
    font-family: cursive;
    border: 3px solid DarkRed;
    border-radius: 15px;
    padding: 10px;
    background-color: FireBrick;
}

main h2 {
    border:5px solid DarkRed;
    border-radius: 15px;
    color: IndianRed;
    padding: 10px;
    background-color: FireBrick;
}

.mp {
    text-decoration: none;
    border:5px solid IndianRed;
    border-radius: 15px;
    color: FireBrick;
    padding: 10px;
    background-color: LightCoral;
}

.ii {
    border:5px solid DarkRed;
    border-radius: 15px;
    color: IndianRed;
    padding: 10px;
    background-color: FireBrick;
}

header a {
    text-decoration: none;
    color: IndianRed;
    font-family: cursive;
    border: 3px solid DarkRed;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: FireBrick;
}
 
footer p{
    border-radius: 10px;
    border:5px solid DarkRed;
    padding: 5px;
    background-color: FireBrick;
}

.hp {
    font-family: cursive;
    border: 5px solid DarkRed;
    border-radius: 10px;
    padding: 10px;
    background-color: FireBrick;
}
